extends layout

block content
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")      
      
        div(class="card")
          img(class="card-img-top" src="/images/Safety.png")
          div(class="card-body")
            h5(class="card-title") Safety
            p(class="card-text") Shows the average speed as a color coded gradient (red means higher average speed) and harsh driving events as an extrusion.
            a(href="/safety" class="btn btn-primary") Open Visualization

        div(class="card")
          img(class="card-img-top" src="/images/Heatmap.png")
          div(class="card-body")
            h5(class="card-title") Heatmap
            p(class="card-text") Shows the locations more often visited by vehicles. Darker colors indicate higher traffic
            a(href="/heatmap" class="btn btn-primary") Open Visualization

        div(class="card")
          img(class="card-img-top" src="/images/Coverage.png")
          div(class="card-body")
            h5(class="card-title") Coverage
            p(class="card-text") Shows the average cellular network signal strength as received by the vehicles. A higher extrusion means a stronger signal.
            a(href="/coverage" class="btn btn-primary") Open Visualization

